<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template" />
    <meta name="author" content="Łukasz Holeczek" />
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js" />
    <link rel="shortcut icon" href="img/favicon.png" />

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/simple-line-icons.css') }}" />
    {% block stylesheets %}
    {% endblock %}
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">☰</button>
    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
                    </li>

                    <li class="nav-title">
                        Trading
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('new_trade') }}"><i class="icon-pie-chart"></i> Nouveau trade</a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Trades en cours</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="icon-pie-chart"></i> En attentes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="icon-pie-chart"></i> A risques</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="icon-pie-chart"></i> Gratuits</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-title">
                        Statistiques
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-pie-chart"></i> Trades cloturés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-pie-chart"></i> Evolution du capital</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-pie-chart"></i> Plus/moins values</a>
                    </li>

                    <li class="nav-title">
                        Configuration
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-pie-chart"></i> Money Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-pie-chart"></i> Frais de courtages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-pie-chart"></i> Dépots/retraits</a>
                    </li>

                </ul>
            </nav>
        </div>

        <!-- Main content -->
        <main class="main">


           {% block body %}{% endblock %}


               <!-- /.conainer-fluid -->
           </main>


       </div>

       <footer class="app-footer">
        <a href="http://coreui.io">CoreUI</a> © 2017 creativeLabs.
        <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
        </span>
    </footer>

    <!-- Bootstrap and necessary plugins -->
    <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/tether.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
    </body>
    </html>
